.img_instagram{
    height: 60px;
    margin-left: 2.5em;
    margin-top: 3em;
    width: auto;
    align-items: flex-end;
    filter: drop-shadow(7px 7px 7px #000000);

    }

    html{
        background-image: url("https://img.freepik.com/free-photo/abstract-black-white-bokeh-background_1962-1324.jpg?size=626&ext=jpg");
        background-size: cover;
        
    }

    .container{
        background-color: rgb(66, 66, 66);
        color: white;
        margin-left: 40px;
        margin-top: 50px;
        margin-bottom: 85px;
        content: inherit;
        height: 80%;
        width: 75%;
        border-radius: 10px;
    /* -webkit-filter: drop-shadow(20px 20px 20px #1f1d1d/); */
        filter: drop-shadow(20px 20px 20px #1f1d1d);
    }

    .card-img {
        filter: drop-shadow(10px 10px 10px #000000);

    }

    .row{
        justify-content: center;
    }

    .logos.row{
        justify-content: left;
   
    }

    h1{
        border-bottom:2px solid white; width:96%;
        margin-left: 20px;
         }

    .text {
        margin-left: 20px;
        font-size: 1.2em; 
        overflow: auto;
         }

    .pro {
        margin-bottom: 30px;
        margin-left: 100px;
        padding:0px 0px 15px 30px;
         }