.img_instagram{
    height: 60px;
    width: auto;
    align-items: flex-end;
    }

    html{
        background-image: url("https://img.freepik.com/free-photo/abstract-black-white-bokeh-background_1962-1324.jpg?size=626&ext=jpg");
        background-size: cover;
        
    }

    .container{
    
    background-color: rgb(66, 66, 66);
    color: white;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 85px;
    content: inherit;
    height: 80%;
    width: 75%;
    }

    .row{
        justify-content: center;
    }

    .logos.row{
        justify-content: left;
        
        
    }

    h1{
        border-bottom:2px solid white; width:96%;
        margin-left: 20px;
         }

         .text {
        margin-left: 20px;
        font-size: 1.2em; 
         }